@charset "UTF-8";
/* Webfont: HeliosLight */
/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/* Webfont: AAlbionicBold */
@font-face {
    font-family: 'a_Albionic';
    src: url("../fonts/a_Albionic/AAlbionicBold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/a_Albionic/AAlbionicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/a_Albionic/AAlbionicBold.woff") format("woff"), url("../fonts/a_Albionic/AAlbionicBold.ttf") format("truetype"), url("../fonts/a_Albionic/AAlbionicBold.svg#AAlbionicBold") format("svg");
    /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Myriad Pro", sans-serif;
    color: #4f5050;
    background-color: #eaeaea;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    transition: .3s all;
}

a:hover, a:focus {
    color: #ed1a22;
}

.top-menu {
    position: relative;
    top: 68px;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu ul li {
    display: inline-block;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 0 7px 24px;
    margin: 0 10px;
}

.top-menu ul li.is-active {
    border-bottom: 3px solid #ed1a22;
}

.top-menu-wrap {
    width: 40%;
    float: left;
}

.top-main {
    border-bottom: 1px solid #2b6abb;
}

.top-main .top-logo {
    width: 33%;
}

.top-main .top-menu-wrap {
    width: auto;
    float: none;
}

.top-main .top-menu {
    position: relative;
    top: 31px;
}

.top-main .top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-main .top-menu ul li {
    display: inline-block;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 0 7px 24px;
    margin: 0 10px;
}

.top-main .top-menu ul li a:hover, .top-main .top-menu ul li a:focus {
    text-decoration: none;
    color: #ed1a22;
}

.top-main .top-menu ul li.is-active {
    border-bottom: 3px solid #ed1a22;
}

.top-slogan {
    text-align: right;
    color: #fff;
    font-size: 30px;
    font-style: italic;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.top-header {
    background: #285bba;
    background: -moz-linear-gradient(left, #285bba 1%, #3f89d6 50%, #285bba 100%);
    background: -webkit-linear-gradient(left, #285bba 1%, #3f89d6 50%, #285bba 100%);
    background: linear-gradient(to right, #285bba 1%, #3f89d6 50%, #285bba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285bba', endColorstr='#285bba', GradientType=1);
    padding: 25px 0 15px;
}

.top-logo {
    width: 30%;
    float: left;
}

.top-logo img {
    margin-left: -8px;
}

.top-cart {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    display: flex;
    float: right;
    font-size: 1.14286em;
    padding: 5px;
    text-align: left;
}

.top-cart-user {
    font-size: 1.14286em;
    color: #fff;
    text-decoration: underline;
    margin-bottom: 10px;
}

.top-cart-wrapper {
    float: right;
    width: 30%;
    text-align: right;
}

.top-cart-btn {
    text-align: center;
}

.top-cart-desc {
    color: #484848;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

.top-crumbs-block {
    background: #346cc4;
    background: -moz-linear-gradient(left, #346cc4 0%, #52a9e5 50%, #346cc4 100%);
    background: -webkit-linear-gradient(left, #346cc4 0%, #52a9e5 50%, #346cc4 100%);
    background: linear-gradient(to right, #346cc4 0%, #52a9e5 50%, #346cc4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#346cc4', endColorstr='#346cc4', GradientType=1);
    color: #252525;
    line-height: 34px;
    border-top: 1px solid #62b6f6;
    border-bottom: 1px solid #3477cc;
}

.top-crumbs a {
    padding-left: 32px;
    font-size: 1.14286em;
    position: relative;
    display: inline-block;
    color: #fff;
}

.top-crumbs a:hover {
    text-decoration: none;
    color: #ed1a22;
}

.top-crumbs a:after {
    content: '→';
    position: absolute;
    left: 6px;
    font-size: 18px;
    margin-top: -1px;
    top: 0;
    color: #fff;
}

.top-crumbs a:first-child {
    padding-left: 0;
}

.top-crumbs a:first-child:after {
    display: none;
}

.btn-cart {
    color: #fff;
    background: #d10200;
    background: -moz-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: -webkit-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: linear-gradient(to bottom, #d10200 0%, #fb210e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d10200', endColorstr='#fb210e', GradientType=0);
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 5px;
    font-size: 11px;
    max-width: 82px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.btn-cart:hover {
    text-decoration: none;
    color: #660301;
    box-shadow: inset 2px 2px 15px -5px #000;
}

.btn-cart:hover:before {
    background-position: bottom;
}

.btn-cart:before {
    content: '';
    display: block;
    width: 17px;
    height: 15px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 5px;
}

.btn-cart.btn-confirm {
    max-width: none;
    padding: 20px 40px;
    font-size: 20px;
}

.btn-cart.btn-confirm:before {
    display: none;
}

.btn-cart.btn-confirm:after {
    right: 20px;
}

.btn-cart-arrow {
    padding-right: 27px;
}

.btn-cart-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 12px;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(135deg);
}

.btn-cart-map {
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #9a9a9a 100%);
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #9a9a9a 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%, #9a9a9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#9a9a9a', GradientType=0);
}

.btn-cart-map:before {
    background-image: url(../img/marker.png);
}

.btn-cart-map:hover:before {
    background-position: 0 0;
}

.ft {
    background: #cdcdcd;
    background: -moz-linear-gradient(left, #cdcdcd 0%, #dfdfdf 50%, #cdcdcd 100%);
    background: -webkit-linear-gradient(left, #cdcdcd 0%, #dfdfdf 50%, #cdcdcd 100%);
    background: linear-gradient(to right, #cdcdcd 0%, #dfdfdf 50%, #cdcdcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#cdcdcd', GradientType=1);
    border-top: 1px solid #f5f5f5;
    padding-top: 25px;
}

.ft-cont-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.ft-cont-desc {
    flex-basis: 135px;
}

.ft-cont-desc a {
    display: block;
    font-size: 17px;
    color: #7b7b7b;
    line-height: 1;
}

.ft-cont-icon {
    flex-basis: 30px;
    width: 29px;
    height: 29px;
    margin: 0 10px;
    background-image: url(../img/ft.png);
}

.ft-cont-icon-addr {
    background-position: right 0;
}

.ft-cont-div {
    display: flex;
    margin-right: -15px;
}

.ft-addr {
    font-size: 13px;
    margin-bottom: 15px;
}

.ft-addr-title {
    color: #7b7b7b;
}

.ft-wrapper {
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 7px;
}

.ft-map-title {
    text-transform: none;
}

.ft-map-block {
    height: 130px;
    border-radius: 5px;
}

.ft-map-block > ymaps {
    border-radius: 5px;
    overflow: hidden;
}

.ft-copy {
    text-align: center;
    font-size: 1.14286em;
    border-top: 1px solid #f5f5f5;
    background: #b7b7b7;
    background: -moz-linear-gradient(left, #b7b7b7 0%, #d0d0d0 50%, #b7b7b7 100%);
    background: -webkit-linear-gradient(left, #b7b7b7 0%, #d0d0d0 50%, #b7b7b7 100%);
    background: linear-gradient(to right, #b7b7b7 0%, #d0d0d0 50%, #b7b7b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7b7b7', endColorstr='#b7b7b7', GradientType=1);
    line-height: 40px;
}

.ft-socs {
    margin-top: 15px;
}

.ft-socs-item {
    display: inline-block;
    border-radius: 100%;
    margin-right: 8px;
    width: 43px;
    height: 43px;
    background-color: #c6c6c6;
    text-align: center;
    line-height: 41px;
}

.ft-socs-item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url(../img/socs.png);
    background-repeat: no-repeat;
}

.socs-fb:before {
    background-position: -6px 0;
}

.socs-twit:before {
    background-position: center 0;
}

.socs-qu:before {
    background-position: right 0;
}

.mobile-button {
    width: 45px;
    height: 36px;
    cursor: pointer;
    position: fixed;
    left: 15px;
    padding: 11px 10px;
    /* bottom: 0px; */
    top: 33px;
    background: #fff;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s;
}

.mobile-button .icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: .3s top .3s, 0s opacity 0s, .3s transform .0s;
    position: relative;
    top: 0;
    opacity: 1;
    transform: rotate(0deg);
    left: 0;
    background: #4f5050;
}

.mobile-button .icon-bar + .icon-bar {
    margin-top: 4px;
}

.mobile-button.open {
    background: transparent;
}

.mobile-button.open .icon-bar {
    transition: .3s top 0s, 0s opacity .3s, .3s transform .3s;
    background: #4f5050;
}

.mobile-button.open .icon-bar:nth-child(1) {
    top: 6px;
    transform: rotate(45deg);
}

.mobile-button.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.mobile-button.open .icon-bar:nth-child(3) {
    top: -6px;
    transform: rotate(135deg);
}

#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 270px;
    transition: .5s all;
    left: -270px;
    background: #285bba;
    background: -moz-linear-gradient(top, #285bba 1%, #3f89d6 50%, #285bba 100%);
    background: -webkit-linear-gradient(top, #285bba 1%, #3f89d6 50%, #285bba 100%);
    background: linear-gradient(to top, #285bba 1%, #3f89d6 50%, #285bba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285bba', endColorstr='#285bba', GradientType=1);
}

#mobile-menu .mobile-menu-inner {
    position: absolute;
    top: 60px;
    bottom: 20px;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    text-align: center;
}

#mobile-menu .mobile-menu-inner .top-logo {
    margin-top: 0;
    margin-bottom: 15px;
    float: none;
    text-align: center;
}

#mobile-menu .mobile-menu-inner .top-tels {
    text-align: center;
}

#mobile-menu .mobile-menu-inner .top-find {
    display: inline-block;
}

#mobile-menu .mobile-menu-inner .top-flags {
    display: inline-block;
    background-color: transparent;
    line-height: 25px;
    width: auto;
}

#mobile-menu .mobile-menu-inner .top-flags a {
    display: inline-block;
}

#mobile-menu .mobile-menu-inner .top-flags a.is-active {
    color: #ed1a22;
    text-decoration: underline;
}

#mobile-menu .mobile-menu-inner .top-cart {
    display: inline-block;
}

#mobile-menu .mobile-menu-inner .top-socs {
    text-align: center;
    margin-top: 15px;
    float: none;
    display: block;
    margin-left: 0;
}

#mobile-menu .mobile-menu-inner .top-socs a {
    font-size: 1.14286em;
    color: #4f5050;
    display: inline-block;
}

#mobile-menu .mobile-menu-inner .ft-tels-cont {
    color: #fff;
    font-size: 1.07143em;
    margin-top: 15px;
}

#mobile-menu .mobile-menu-inner .ft-tels-cont a {
    color: #fff;
}

#mobile-menu .mobile-menu-inner .top-cont {
    text-align: right;
    padding-right: 15px;
}

#mobile-menu form input {
    border: none;
    border-bottom: 1px solid #4f5050;
}

#mobile-menu form button {
    background-color: transparent;
    border: none;
}

#mobile-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    margin-top: 15px;
    display: block;
    background-color: transparent;
}

#mobile-menu ul li {
    text-align: left;
    padding: 10px 10px;
    border-left: 2px solid transparent;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

#mobile-menu ul li.is-active {
    border-left: 2px solid #ed1a22;
}

#mobile-menu ul li.is-active a {
    color: #ed1a22;
}

#mobile-menu ul li ul {
    display: none;
}

#mobile-menu ul li a {
    color: #fff;
    font-size: 1.14286em;
    padding: 0 10px;
    line-height: 1.5;
    background-color: transparent;
}

#mobile-menu.open {
    display: block;
    left: 0;
    z-index: 20;
}

.mobile-menu-overlay {
    display: none;
    transition: 0s all 0s, .3s opacity .1s;
    opacity: 0;
}

.mobile-menu-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    opacity: .5;
    overflow: hidden;
    z-index: 3;
}

body.open {
    overflow-y: hidden;
    overflow-x: visible;
}

.carousel {
    position: relative;
}

.carousel-item {
    position: relative;
    width: 33%;
}

.carousel-item:focus {
    outline: none;
}

.carousel-item a:focus {
    outline: none;
}

.carousel-item img:focus {
    outline: none;
}

.carousel-item-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'a_Albionic';
    color: #000;
}

.carousel-item-caption span {
    font-size: 36px;
    margin-bottom: 10px;
    background-color: #ed1a22;
    text-transform: uppercase;
    padding: 10px 20px;
    line-height: 2;
}

.carousel-item-caption span small {
    font-size: 16px;
}

.carousel-container {
    width: 1100px;
    margin: 0 auto;
}

.carousel-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: right;
    color: #fff;
}

.carousel-arrows.side {
    margin-top: -25px;
}

.carousel-arrows.side .carousel-arrow {
    position: absolute;
}

.carousel-arrows.side .carousel-arrow.left {
    left: -25px;
}

.carousel-arrows.side .carousel-arrow.right {
    right: -25px;
}

.carousel-arrow {
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 2px solid #81817f;
    border-radius: 100%;
    margin-bottom: 10px;
    transition: .3s all;
    font-size: 9px;
    box-shadow: 0 0 2px 2px #fff, inset 0 0 2px 2px #fff;
}

.carousel-arrow.right:after {
    transform: rotate(135deg);
    right: 8px;
}

.carousel-arrow.left:after {
    transform: rotate(-45deg);
    left: 8px;
}

.carousel-arrow:after {
    content: '';
    top: 50%;
    margin-top: -5px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid #81817f;
    border-left: 3px solid #81817f;
}

.carousel-main {
    padding-top: 33px;
    border-top: 1px solid #62b6f6;
    background: #234fa1;
    background: -moz-linear-gradient(left, #234fa1 0%, #3f89d6 50%, #234fa1 100%);
    background: -webkit-linear-gradient(left, #234fa1 0%, #3f89d6 50%, #234fa1 100%);
    background: linear-gradient(to right, #234fa1 0%, #3f89d6 50%, #234fa1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#234fa1', endColorstr='#234fa1', GradientType=1);
}

.carousel-nav {
    margin: 15px 0 20px;
    text-align: center;
}

.carousel-nav-item {
    display: inline-block;
    background-color: #1c62ab;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .3s all;
    cursor: pointer;
}

.carousel-nav-item.is-active {
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 0px #085a6e;
}

.carousel-inner {
    width: 100%;
}

#registration .login-main-btns {
    width: 75%;
    float: right;
}

#registration .login-btn-signup.login-btn {
    margin-right: 8px;
    padding: 10px 19px;
}

#registration .login-btn {
    padding: 10px 15px;
}

#registration .login-main-block {
    margin-bottom: 0;
}

.login-main-row {
    overflow: hidden;
    padding: 5px 5px 5px 0;
}

.login-main-row .login-main-input {
    display: block;
    float: left;
    width: 75%;
}

.login-main-row .login-main-label {
    display: block;
    float: left;
    text-align: right;
    width: 25%;
    line-height: 45px;
    padding-right: 15px;
}

.login-main-input {
    background-color: #f1f1f1;
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 18px;
    margin-bottom: 7px;
}

.login-main-input:focus {
    outline: none;
    box-shadow: 0 0 5px 4px #fff;
}

.login-main-title {
    color: #737373;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.login-main-block {
    background-color: #f5f5f5;
    width: 488px;
    margin: 0 auto 20px;
    padding: 30px 43px 15px;
    border-radius: 5px;
    overflow: hidden;
}

.login-main-btns {
    margin-top: 10px;
}

.login-btn {
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid #cecece;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background: #52a8e5;
    background: -moz-linear-gradient(top, #52a8e5 0%, #356dc5 100%);
    background: -webkit-linear-gradient(top, #52a8e5 0%, #356dc5 100%);
    background: linear-gradient(to bottom, #52a8e5 0%, #356dc5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a8e5', endColorstr='#356dc5', GradientType=0);
}

.login-btn-signup {
    margin-right: 8px;
    padding: 10px 70px;
    background: #fb210e;
    background: -moz-linear-gradient(top, #fb210e 0%, #d20300 100%);
    background: -webkit-linear-gradient(top, #fb210e 0%, #d20300 100%);
    background: linear-gradient(to bottom, #fb210e 0%, #d20300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb210e', endColorstr='#d20300', GradientType=0);
}

.login-btn-esc {
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #9a9a9a 100%);
    background: -webkit-linear-gradient(top, #d6d6d6 0%, #9a9a9a 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%, #9a9a9a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#9a9a9a', GradientType=0);
}

.login-btn:hover, .login-btn:focus {
    color: #fff;
    text-decoration: none;
}

.login-forget {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.cart-page-title {
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.cart-page-title span {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 52px;
    height: 52px;
    border: 1px solid #cecece;
    border-radius: 5px;
    background: #d10200;
    background: -moz-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: -webkit-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: linear-gradient(to bottom, #d10200 0%, #fb210e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d10200', endColorstr='#fb210e', GradientType=0);
}

.cart-page-title span:after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url(../img/cart-big.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cart-info {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-info-item {
    line-height: 1;
    font-size: 16px;
    text-align: right;
}

.cart-info-item > span {
    color: #df0c05;
    font-size: 23px;
    margin-left: 10px;
    width: 115px;
    display: inline-block;
}

.cart-info-item > span i {
    font-style: normal;
}

.cart-row-destroy {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ed1a22;
    display: inline-block;
    box-shadow: 0 0 2px 0px #000;
    cursor: pointer;
}

.cart-row-destroy:before {
    content: 'x';
    color: #fff;
    font-size: 16px;
}

.cart-steps {
    margin-bottom: 25px;
    margin-top: 8px;
}

.cart-steps-item {
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
    color: #adabab;
}

.cart-steps-item.is-active {
    color: #ed1a22;
    text-decoration: underline;
}

.cart-table {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.cart-table-img {
    flex-basis: 61px;
}

.cart-table-article {
    align-self: flex-end;
}

.cart-table-capacity .capacity-select {
    padding: 0 10px;
}

.cart-table-capacity .capacity-select .capacity-options {
    width: 100px;
}

.cart-table-cont {
    display: flex;
    text-align: left !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
    padding: 10px !important;
}

.cart-table-title {
    color: #397cce;
    font-size: 16px;
    flex-basis: 100%;
}

.cart-table-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 280px;
}

.cart-table-footer {
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    background-color: #eeeeee;
}

.cart-table-footer .cart-table-cell {
    border-right: none;
    border-left: none;
}

.cart-table-footer .cart-table-cell-price {
    border-right: 1px dashed #a7a7a7;
}

.cart-table-footer .cart-table-cell-summ {
    padding: 10px 5px;
    display: block;
}

.cart-table-footer .cart-table-cell-ctrl {
    border-left: 1px dashed #a7a7a7;
}

.cart-table-header {
    background: #52a7e4;
    background: -moz-linear-gradient(top, #52a7e4 0%, #356ec5 100%);
    background: -webkit-linear-gradient(top, #52a7e4 0%, #356ec5 100%);
    background: linear-gradient(to bottom, #52a7e4 0%, #356ec5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7e4', endColorstr='#356ec5', GradientType=0);
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.cart-table-header .cart-table-cell {
    padding: 15px 0;
    border-right: 1px solid #6bb2ec;
    border-left: 1px solid #225095;
    align-self: stretch;
    font-size: 18px !important;
}

.cart-table-header .cart-table-cell:first-child {
    border-left: none;
}

.cart-table-header .cart-table-cell:last-child {
    border-right: none;
}

.cart-table-row {
    display: flex;
    align-items: center;
}

.cart-table-cell {
    align-self: stretch;
    border-right: 1px dashed #a7a7a7;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-table-cell .quantity-ctrl {
    position: relative;
    display: inline-block;
}

.cart-table-cell-name {
    flex-basis: 45%;
    padding: 0px 10px;
}

.cart-table-cell-quantity {
    flex-basis: 15%;
}

.cart-table-cell-price {
    flex-basis: 15%;
    font-size: 21px;
}

.cart-table-cell-price span {
    margin-right: 5px;
}

.cart-table-cell-summ {
    flex-basis: 15%;
    font-size: 21px;
}

.cart-table-cell-summ span {
    margin-right: 5px;
}

.cart-table-cell-ctrl {
    flex-basis: 10%;
    border-right: none;
}

.cart-confirm {
    text-align: right;
    margin-top: 11px;
    margin-bottom: 20px;
}

.catalog-menu {
    font-size: 1.14286em;
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.catalog-menu-title {
    color: #3c84d3;
    font-size: 1.14286em;
    margin-bottom: 15px;
}

.catalog-menu-item {
    position: relative;
    margin-bottom: 5px;
}

.catalog-menu-item ul {
    margin: 0 0 0 30px;
    list-style: none;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: .5s all;
}

.catalog-menu-item ul a {
    color: #4f5050;
}

.catalog-menu-item ul a:hover {
    color: #ed1a22;
}

.catalog-menu-item.is-active, .catalog-menu-item:hover {
    color: #ed1a22;
}

.catalog-menu-item.is-active ul, .catalog-menu-item:hover ul {
    max-height: 200vh;
}

.catalog-menu-item li.is-active a, .catalog-menu-item li:hover a {
    color: #ed1a22;
}

.catalog-menu-item.has-child.is-active:before {
    content: '-';
}

.catalog-menu-item.has-child:before {
    content: '+';
    position: absolute;
    left: -10px;
    font-size: 14px;
    margin-top: 1px;
    transition: .3s all;
}

.catalog-menu-item.has-child:hover:before {
    color: #ed1a22;
}

.catalog-list-item {
    display: flex;
    flex-direction: row;
    padding: 6px;
    transition: .3s background-color;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-bottom: 15px;
}

.catalog-list-item:hover {
    background-color: #dcdcdc;
}

.catalog-list-item-img {
    flex-basis: 142px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.catalog-list-item-img a {
    display: block;
    background-color: #fff;
    padding: 15px 5px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.catalog-list-item-img a:hover {
    border-color: #ed1a22;
}

.catalog-list-item-meta-share {
    position: absolute;
    top: 10px;
    display: inline-block;
    left: 0;
    font-size: 10px;
    z-index: 5;
    text-transform: uppercase;
    background-color: #4b9cde;
    width: 70px;
    color: #fff;
    padding: 2px 0px;
}

.catalog-list-item-content {
    flex-basis: 570px;
    padding-left: 15px;
}

.catalog-list-item-desc p {
    margin: 15px 0 25px;
}

.catalog-list-item-title, .catalog-list-item-article {
    color: #397cce;
    line-height: 1;
    margin: 0;
    font-size: 1.14286em;
}

.catalog-list-item-title a:hover, .catalog-list-item-article a:hover {
    color: #397cce;
}

.catalog-list-item-link {
    color: #397cce;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.catalog-list-item-ctrl {
    flex-basis: 138px;
    text-align: center;
    border-left: 1px solid #cdcdcd;
    margin: 4px 0;
}

.catalog-list-item-capacity {
    font-size: 14px;
    margin-top: 5px;
}

.catalog-list-item-price {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.catalog-list-item-buy {
    position: relative;
}



.quantity-ctrl {
    width: 26px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
}

.product-quantity .quantity-ctrl {
    top: -4px;
}

.quantity-digit {
    width: 100%;
    text-align: center;
    height: 24px;
    background-color: #e2e2e2;
    line-height: 26px;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-top: none;
    border-bottom: none;
}

.quantity-incr, .quantity-dicr {
    height: 13px;
    background-color: #848484;
    cursor: pointer;
}

.quantity-incr:before, .quantity-dicr:before {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    left: 50%;
    margin-left: -3.5px;
}

.quantity-incr {
    border-radius: 2px 2px 0 0;
}

.quantity-incr:before {
    transform: rotate(45deg);
    margin-top: 4px;
}

.quantity-dicr {
    border-radius: 0 0 2px 2px;
}

.quantity-dicr:before {
    transform: rotate(-135deg);
}

.capacity-selected {
    text-decoration: underline;
    cursor: pointer;
}

.capacity-select {
    position: relative;
}

.capacity-select.is-active .capacity-options {
    max-height: 100vh;
}

.capacity-options {
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    transition: .3s all;
    left: 0;
    right: 0;
    background-color: #dcdcdc;
    top: 100%;
    z-index: 2;
}

.capacity-options-item {
    margin: 5px;
    cursor: pointer;
    display: block;
}

.capacity-options-item:hover {
    background-color: #eaeaea;
}

.search-row {
    margin-bottom: 15px;
    position: relative;
}

.search-row input {
    border: none;
    border-radius: 8px;
    line-height: 49px;
    padding: 0 10px;
    width: 100%;
    box-shadow: inset 4px 4px 10px -6px;
    font-size: 1.14286em;
}

.search-row input:focus {
    outline: none;
}

.search-btn {
    padding: 0;
    border: 1px solid #cecece;
    width: 49px;
    height: 49px;
    background-color: #fff;
    background: #346cc4;
    background: -moz-linear-gradient(top, #346cc4 0%, #52a9e5 100%);
    background: -webkit-linear-gradient(top, #346cc4 0%, #52a9e5 100%);
    background: linear-gradient(to bottom, #346cc4 0%, #52a9e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#346cc4', endColorstr='#52a9e5', GradientType=0);
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.search-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 21px;
    height: 21px;
    background-image: url(../img/zoom.png);
}

.search-btn-down:after {
    background-image: none;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-135deg);
    margin-left: -6px;
}

.delivery-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    justify-content: space-between;
}

.delivery-inputs-item {
    flex-basis: 49.7%;
    margin-bottom: 8px;
    align-self: flex-start;
    cursor: normal;
}

.delivery-type {
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    padding-bottom: 23px;
}

.delivery-type-options {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: .3s all;
    background-color: #fff;
    margin-top: -5px;
    width: 100%;
    box-shadow: inset 4px -4px 10px -6px;
    border-radius: 0 0 8px 8px;
}

.delivery-type-options-item {
    width: 100%;
}

.delivery-type-options-item label {
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    display: block;
}

.delivery-type-options-item:hover {
    background-color: #eee;
}

.delivery-type-options.open {
    display: block;
    max-height: 200vh;
    padding-bottom: 15px;
}

.delivery-type-radios {
    box-sizing: border-box;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
}

.delivery-type-selected, .delivery-inputs-item {
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 4px 4px 10px -6px;
    border-radius: 8px;
    line-height: 49px;
    padding: 0 15px;
    font-size: 20px;
}

.delivery-type-dropdown {
    z-index: 5;
    padding: 0;
    border: 1px solid #cecece;
    width: 49px;
    height: 49px;
    background-color: #fff;
    background: #346cc4;
    background: -moz-linear-gradient(top, #346cc4 0%, #52a9e5 100%);
    background: -webkit-linear-gradient(top, #346cc4 0%, #52a9e5 100%);
    background: linear-gradient(to bottom, #346cc4 0%, #52a9e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#346cc4', endColorstr='#52a9e5', GradientType=0);
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.delivery-type-dropdown:after {
    content: '';
    background-image: none;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-135deg);
    margin-left: -6px;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.delivery-type-select {
    flex-grow: 2;
    position: relative;
}

.delivery-type-select.aside {
    margin-bottom: 15px;
    z-index: 5;
}

.delivery-type-select.aside .delivery-type-options-item a {
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    display: block;
}

.delivery-type-select.aside .delivery-type-options.open {
    padding-bottom: 5px;
}

.delivery-type-label {
    flex-shrink: 100;
    font-size: 20px;
    margin-right: 10px;
}

.success-page {
    padding-top: 10%;
}

.success-block {
    width: 535px;
    padding: 25px 50px;
    margin: 0 auto;
    box-shadow: 0 0 10px -5px #000;
    border-radius: 8px;
    background-color: #f3f3f3;
    text-align: center;
}

.success-title {
    color: #ed1a22;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
}

.success-message {
    margin-bottom: 10px;
    font-size: 20px;
}

.success-cont a {
    color: #218ca7;
    font-size: 25px;
    display: block;
    line-height: 1.2;
    font-weight: bold;
}

.news-main {
    padding-bottom: 15px;
}

.news-main-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin: 30px 0 30px;
    font-weight: normal;
}

.news-main-item {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.news-main-item img {
    border-radius: 5px;
}

.news-main-item a {
    display: block;
}

.news-main-thumb {
    flex-basis: 50%;
}

.news-main-cont {
    flex-basis: 50%;
    padding-left: 10px;
}

.news-main-excerpt {
    color: #000000;
    font-size: 14px;
    text-indent: 30px;
    margin-bottom: 1em;
    line-height: 1.2;
}

.news-main-text {
    font-size: 12px;
    text-align: justify;
    line-height: 1.2;
}

.news-main-link {
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
}

.news-main-link a {
    color: #00459d;
    text-decoration: underline;
    font-size: 15px;
}

.news-main-all {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 20px;
}

.news-page-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 30px;
}

.news-cont {
    overflow: hidden;
}

.news-item {
    margin-bottom: 30px;
}

.news-item p {
    margin-top: 0;
}

.news-item-title {
    font-weight: normal;
    font-size: 15px;
    color: #000;
    text-indent: 20px;
    margin-top: 0;
}

.news-list-img {
    float: left;
    margin: 0 15px 15px 0;
}

.news-list-item {
    overflow: hidden;
    font-size: 15px;
}

.product-page-wrapper {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product-img {
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.product-img .carousel-inner {
    border: 1px solid #6b6463;
    border-radius: 5px;
    padding: 30px 0;
}

.product-img .carousel-item img {
    display: inline-block;
}

.product-img .carousel-nav {
    text-align: left;
}

.product-img .carousel-nav-item {
    background-color: #fff;
    width: 57px;
    height: 57px;
    border: 1px solid #6b6463;
    border-radius: 5px;
    line-height: 55px;
    text-align: center;
}

.product-cont {
    width: 66%;
    float: right;
    clear: right;
    padding-bottom: 20px;
}

.product-title {
    font-size: 16px;
    line-height: 2;
    color: #397cce;
    margin: 0;
}

.product-article {
    color: #397cce;
    font-size: 16px;
}

.product-header {
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
}

.product-quantity .quantity-ctrl {
    display: inline-block;
    position: relative;
}

.product-text {
    font-size: 15px;
    line-height: 1.2;
}

.product-text ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 10px 15px 0;
    list-style: none;
}

.product-text ul li:before {
    content: '-';
}

.product-text ul li:first-child:before {
    content: '';
}

.product-ctrl {
    width: 100%;
    clear: both;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    align-items: center;
    padding: 11px 0;
}

.product-capacity {
    padding: 0 30px 0 15px;
    margin-left: 15px;
}

.product-special {
    margin-right: auto;
    font-size: 15px;
    line-height: 29px;
}

.product-special-icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url(../img/special.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}

.product-special-prof {
    background-position: right 0;
}

.product-buy .btn-cart {
    margin-left: 10px;
}

.product-params {
    margin-top: 18px;
}

.product-params-desc {
    border: 1px solid #eee;
    padding: 15px;
    font-size: 15px;
    line-height: 1.2;
}

.product-params-desc ul {
    padding: 0;
    margin: 15px 0;
    list-style: none;
}

.product-params-desc ul li:before {
    content: '-';
}

.product-params-desc p {
    text-indent: 40px;
}

.product-params-text {
    display: none;
}

.product-params-text.is-active {
    display: block;
}

.product-tabs-item {
    position: relative;
    top: 1px;
    cursor: pointer;
    width: 156px;
    display: inline-block;
    background-color: #eeeeee;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    text-transform: uppercase;
    color: #3d85d3;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eee;
    margin-right: 4px;
}

.product-tabs-item.is-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.product-page .product-capacity {
    position: relative;
}

.product-page .product-capacity:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #818181;
    border-right: 1px solid #818181;
    top: 5px;
    transform: rotate(135deg);
}

.cabinet-page {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 50px;
}

.cabinet-page-title {
    width: 100%;
    color: #4078b6;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 20px;
}

.cabinet-header {
    overflow: hidden;
}

.cabinet-name {
    font-size: 20px;
    color: #2b2b2b;
}

.cabinet-info-item {
    color: #636363;
    font-size: 18px;
    line-height: 1.2;
}

.cabinet-img {
    float: left;
    margin-right: 20px;
}

.cabinet-table {
    border-radius: 8px;
    overflow: hidden;
    font-size: 16px;
}

.cabinet-table-article {
    color: #4078b6;
    text-align: left !important;
}

.cabinet-table-link a {
    color: #4078b6;
    text-decoration: underline;
}

.cabinet-table-header {
    color: #4078b6;
}

.cabinet-table-row {
    padding: 20px 40px;
    display: flex;
    background-color: #f7f7f7;
}

.cabinet-table-row:nth-child(odd) {
    background-color: #efefef;
}

.cabinet-table-empty {
    flex-grow: 1.5 !important;
}

.cabinet-table-cell {
    flex-grow: 1;
    text-align: center;
}

.page-title {
    color: #4078b6;
    font-size: 20px;
    margin-bottom: 50px;
}

.contacts-page {
    margin-bottom: 50px;
}

.contacts-page .ft-map-title {
    margin-top: 30px;
    margin-bottom: 15px;
}

.contacts-page .ft-cont-div {
    margin-bottom: 30px;
}

.sidebar {
    width: 24%;
    float: left;
}

.content {
    width: 72%;
    float: right;
}

@media (max-width: 1200px) {
    .catalog-list-item-content {
        flex-basis: 380px;
        padding-right: 15px;
    }

    .cart-table-img {
        flex-basis: 30%;
    }

    .cart-table-desc {
        flex-basis: 70%;
    }

    .cart-table-cell-price, .cart-table-cell-summ {
        font-size: 15px;
    }

    .top-logo {
        width: 50%;
        float: left;
    }

    .product-tabs-item {
        width: 119px;
    }

    .top-menu-wrap {
        width: 100%;
    }

    .top-cart-wrapper {
        width: 50%;
    }

    .top-menu {
        top: 17px;
    }

    .ft-socs-item-link {
        margin-top: 10px;
        display: inline-block;
    }

    .ft-socs {
        text-align: center;
    }

    .top-main .top-menu {
        position: relative;
        top: 18px;
    }
}

@media (max-width: 992px) {
    .cart-table-img, .cart-table-desc {
        flex-basis: 100%;
    }

    .cabinet-table-row {
        padding: 20px 8px;
    }

    .cabinet-table-cell {
        flex-grow: 1;
        text-align: left;
    }

    .delivery-type-label {
        flex-shrink: 0;
        flex-basis: 100%;
    }

    .news-cont {
        overflow: initial;
    }

    .success-cont a {
        font-size: 20px;
    }

    .success-block {
        width: 100%;
        margin-bottom: 50px;
    }

    .delivery-type {
        flex-wrap: wrap;
    }

    .delivery-inputs-item {
        flex-basis: 100%;
    }

    .cart-table-footer .cart-table-cell-summ {
        flex-basis: 20%;
        border: none;
    }

    .product-img {
        width: 100%;
    }

    .product-cont {
        width: 100%;
    }

    .login-main-block {
        width: 100%;
        padding: 15px;
    }

    .product-tabs {
        display: flex;
    }

    .product-ctrl {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .catalog-list-item-price {
        margin-bottom: 15px;
    }

    .product-special {
        margin-bottom: 15px;
    }

    .login-btn-signup {
        padding: 10px 28px;
    }

    .sidebar {
        width: 33%;
    }

    .content {
        width: 60%;
    }

    .catalog-list-item-img {
        order: 1;
        flex-basis: 45%;
    }

    .ft-socs {
        text-align: left;
    }

    .ft-map {
        margin-top: 30px;
    }

    .catalog-list-item-content {
        margin-top: 15px;
        order: 3;
        flex-basis: 100%;
        padding: 0;
    }

    .catalog-list-item {
        padding: 15px;
        border-bottom: 1px solid #c7c7c7;
    }

    .catalog-list-item:last-child {
        border-bottom: none;
    }

    .catalog-list-item-ctrl {
        order: 2;
        flex-basis: 45%;
    }
}

@media (max-width: 770px) {
    .top-main .top-logo {
        width: 100%;
    }

    .cart-table-footer .cart-table-cell-summ {
        flex-basis: 100%;
        border: none;
    }

    .top-slogan {
        text-align: center;
    }

    .carousel-arrows.side .carousel-arrow.left {
        left: 0px;
    }

    .carousel-arrows.side .carousel-arrow.right {
        right: 0px;
    }

    .carousel-arrows {
        top: 100%;
    }

    .top-logo {
        width: 100%;
        float: none;
        text-align: center;
    }

    .top-cart-wrapper {
        margin-top: 30px;
        float: none;
        width: 100%;
        text-align: right;
    }

    .ft-cont-div {
        margin-right: 0px;
    }

    .login-main-btns {
        text-align: center;
    }
}

@media (max-width: 624px) {
    .product-tabs {
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .product-tabs-item {
        margin: 0 5px;
        padding: 0 5px;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .login-btn {
        width: 100%;
        padding: 10px 0px;
    }

    .cabinet-table-row {
        flex-wrap: wrap;
    }

    .cabinet-table-cell {
        flex-grow: 1;
        flex-basis: 118px;
    }

    .login-btn-signup {
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 10px 0px;
    }
}

@media (max-width: 420px) {
    .col-xxs-12 {
        width: 100%;
    }

    .ft-cont-div {
        margin-top: 15px;
    }

    .catalog-list-item-img {
        min-height: 146px;
        line-height: 146px;
        flex-basis: 50%;
    }

    .catalog-list-item-ctrl {
        flex-basis: 50%;
        text-align: left;
        padding-left: 5px;
    }

    .catalog-list-item-capacity {
        font-size: 16px;
        margin: 10px 0;
    }

    .top-cart {
        font-size: 14px;
    }
}


/* @author: Astratyan Dmitry */

.section-main {
    margin: 40px auto;
}

form .field {
    margin-bottom: 20px;
}

form .error {
    color: #d10200;
}

form .field input,
form .field select {
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    box-shadow: inset 4px 4px 10px -6px;
    border-radius: 8px;
    line-height: 49px;
    padding: 0 15px;
    font-size: 20px;
}

form button {
    color: #fff;
    background: #d10200;
    background: -moz-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: -webkit-linear-gradient(top, #d10200 0%, #fb210e 100%);
    background: linear-gradient(to bottom, #d10200 0%, #fb210e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d10200', endColorstr='#fb210e', GradientType=0);
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 5px;
    font-size: 11px;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 20px 40px;
    font-size: 20px;
}

.auth hr {
    border-top-color: #ccc;
}

h1 {
    margin: 0 0 20px 0;
    color: #ed1a22;
}

h1 a {
    color: #ed1a22;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.posts .post h2 {
    margin: 0 0 20px 0;
    font-weight: normal !important;
}

.posts .post h2 a {
    color: #3c84d3;
    text-decoration: none;
}

.posts .post h2 a:hover {
    text-decoration: underline;
}

.posts .post .post-img {
    float: left;
    width: 195px;
}

.posts .post .post-img img {
    border-radius: 3px;
}

.posts .post .post-body {
    margin-left: 195px;
}

.posts .post {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.post-image {
    margin: 0 20px 20px 0;
    border-radius: 3px;
    float: left;
}

.empty {
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    background: #f0f0f0;
}

.empty h3 {
    margin: 0 !important;
    font-weight: normal !important;
}

.errors {
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    color: #ed1a22;
    margin-bottom: 20px;
}

.cabinet-info-actions {
    background: #efefef;
    padding: 10px 20px;
    float: right;
    border-radius: 3px;
}

.cabinet-info-actions .cabinet-info-item {
    margin: 10px 0;
}

