/* Webfont: AAlbionicBold */@font-face {
    font-family: 'a_Albionic';
    src: url('AAlbionicBold.eot'); /* IE9 Compat Modes */
    src: url('AAlbionicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AAlbionicBold.woff') format('woff'), /* Modern Browsers */
         url('AAlbionicBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AAlbionicBold.svg#AAlbionicBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

